*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

.join{
	padding: 30% 20px 0;
}
.join #name{
	display: block;
	font-size: 20px;
	margin-bottom: 20px;
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
}
.join #join{
	display: block;
	width: 100%;
	font-size: 20px;
	background: #55f355;
	padding: 10px 0;
}

.game{
    display: none;
    cursor: pointer;
    -webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;
}

p{
    text-align: center;
    font-size: 100px;
    padding-top: 100px;
}